@import url(reset.css);

html
{
	background: #f0f0f0 url("texture.png");
	padding: 50px;
}

body
{
	font: normal 14px/21px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

section
{
	width: 920px;
	margin: 0 auto;

	background: #fff;
	color: #666;
	border: 1px solid #bbb;

	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

article
{
	width: 620px;
	margin: 0 auto;
	padding: 100px 0;
}

h1
{
	font-size: 56px;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 36px;
	color: #000;
}

h2
{
	font-size: 28px;
	font-weight: normal;
	line-height: 1.4;
	margin-bottom: 21px;
	color: #000;
}

h3
{
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 18px;
	color: #000;
}

h4
{
	font-size: 15px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 18px;
	color: #000;
}

h5
{
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 9px;
	color: #000;
}

ul
{
	list-style: disc outside none;
	margin-left: 36px;
}

ol
{
	list-style: decimal outside none;
	margin-left: 36px;
}

li
{
	padding-bottom: 18px;
}

p
{
	margin-bottom: 18px;
}

a
{
	color: #08c;
}

a:link, a:visited, a:active
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

code
{
	font-family: "Menlo", "Monaco", "Courier", monospace;
	color: #333;
	line-height: 100%;
}

code a
{
	text-decoration: underline;
}

strong
{
	font-weight: bold;
	color: #000;
}

em
{
	font-style: italic;
}

blockquote
{
	margin: 36px;
}

pre
{
	display: block;
	width: 620px;
	margin: 0 -9px 18px;
	padding: 9px;
	overflow: auto;

	font-family: "Menlo", "Monaco", "Courier", monospace;
	font-size: 12px;
	line-height: 16px;

	background: #fbfbfb;
	color: #333;
	border: 1px solid #ccc;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);	
}

pre.no-border
{
	margin: 18px 0;
	padding: 0;
	border: 0;
	
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;

	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;	
}

figure
{
	position: relative;
	width: 880px;
	left: -130px;
	right: -130px;
	margin: 36px 0;
}

figure.image
{
	text-align: center;
}

figure pre
{
	margin: 0 auto 18px;
}

figcaption
{
	display: block;
	text-align: center;
	font-size: 12px;
	color: #999;
	margin: 0;
	padding: 0 0 5px 0;
}

hr
{
	background: url("hr.png") no-repeat scroll 50% 50% transparent;
	border: 0;
	height: 5px;
	margin: 54px -18px 36px;
}

aside
{
	display: block;
	margin: 18px -9px;
	padding: 9px;

	background: #fbfbfb;
	color: #333;
	border: 1px solid #ccc;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);	
}

aside h3
{
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 3px;
	padding: 0;
	color: #333;
}

aside p, aside li, aside blockquote
{
	font-size: 12px;
	line-height: 18px;
	color: #666;
	margin-bottom: 9px;
}

aside p:last-child
{
	margin-bottom: 0;
}

aside li
{
	padding-bottom: 3px;
}

aside blockquote
{
	margin: 12px 18px;
}

table
{
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
	margin-bottom: 18px;
}

td
{
	padding: 3px 6px;
	border: 1px solid #ccc;
}

span.enlarge-image
{
	display: block;
	text-align: center;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

span.enlarge-image a
{
	color: #999;
}

#topheader
{
    color: #bbb;
    font-size: 36px;
    font-weight: normal;
    line-height: 1;
}
